<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qnally.shappapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            android:noHistory="true">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>

        <activity
            android:name=".RegistrationPersonalInfo"
            android:parentActivityName=".Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login"/>

            <intent-filter>
                <action android:name="com.qnally.shappapp.RegistrationPersonalInfo"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationPayment"
            android:parentActivityName=".RegistrationPersonalInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".Homepage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.qnally.shappapp.Homepage"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.qnally.shappapp.ItemList"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ItemActivity">
        </activity>
        <activity
            android:name=".ItemPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.qnally.shappapp.ItemPage"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".cart_list"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.qnally.shappapp.cart_list"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AllCategories"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SearchedList"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OrderHistory"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".HelpPage"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UserAccount"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OrderHistoryList"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OrderReview"
            android:noHistory="true">
            >
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login"/>
        </activity>
        <activity android:name=".InfoModify"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".ChangeProfile"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".PaymentChange"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".ShippingChange"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".BillingChange"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden">
        </activity>
    </application>

</manifest>